body {
    font-family: 'Abel', sans-serif;
    background: #f0f0f0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.brand-name {font-size: 1.75em;}

nav a {
    font-size: .75em;
    color: black;
}

.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
}

nav .nav-item {
    position: relative;
    bottom: 6px;
}

.small-image{
    width: 75px;
    height: 75px;
}
.image-box{
    height: 50vh;
}
.large-image{
    width: 100%;
    height: 75%;
}
.img-description{
    display: flex;
    justify-content: space-between;
}
.article{
    display: flex;
}
.groupProject{
    height: 50%;
}
.group1{

}
.group2{

}
.group3{

}
.group4{

}
.group5{

}
.group6{

}

.large-round{
    height: 18vh;
    width: 14vw;
    text-align: center;
    color: white;
    border: 5px solid white;
    border-radius: 1000px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 1em;

    /*height: 14vh;*/
    /*width: 11vw;*/
    /*margin: auto;*/
    /*text-align: center;*/
    /*color: white;*/
    /*border: 5px solid white;*/
    /*border-radius: 128px;*/
}

.round{
    height: 1vh;
    width: 1vw;
    text-align: center;
    border: 1px solid #f0f0f0;
    border-radius: 50px;
}

.red-d{
    background-color: #e6563b;
}

.orange-d{
    background-color: #eb9d3a;

}

.green-s{
    background-color: #7cb06c;

}

.blue-h{
    background-color: #00aba9;
}

#red-design{
    background-color: #e6563b;
}

#yellow-develop{
    background-color: #eb9d3a;
}

#green-support{
    background-color: #7cb06c;

}

#blue-host{
    background-color: #00aba9;

}

.iconsAcrossTop{
    display:flex;
}

.top-header{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 992px) {
    .sub-title {text-align: left;}
    hr {width: 100%;}

    .brand-name  {
        position: relative;
        top: 5px;
    }
    .iconsAcrossTop{
        display: flex;
    }
    hr{
        margin: 0 10vw;
        height: 0px;
        width: 100%;
        border: 2px solid grey;

    }
}