body {
    font-family: 'Abel', sans-serif;
    background: #f0f0f0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.brand-name {font-size: 1.75em;}

nav a {
    font-size: .75em;
    color: black;
}

.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
}

nav .nav-item {
    position: relative;
    bottom: 6px;
}

.small-image{
    width: 75px;
    height: 75px;
}
.image-box{
    height: 50vh;
}
.large-image{
    width: 100%;
    height: 75%;
}
.img-description{
    display: flex;
    justify-content: space-between;
}
.article{
    display: flex;
}
.groupProject{
    height: 50%;
}
.group1{

}
.group2{

}
.group3{

}
.group4{

}
.group5{

}
.group6{

}






@media screen and (min-width: 992px) {
    .sub-title {text-align: left;}
    hr {width: 100%;}

    .brand-name  {
        position: relative;
        top: 5px;
    }
    .iconsAcrossTop{
        display: flex;
    }
}